

#tab1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}


.ronaldo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

footer { 
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_footer { 
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row_footer {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nos img {
    width: 150px;
    height: 250px;
    margin: 10px;
    border-radius: 10%;
}

.linha {
    width: 100px;
    height: 2px;
    background-color: black;
}